<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Mercari Pipeline Server</display-name>

    <servlet>
        <servlet-name>MPipelineApiServer</servlet-name>
        <servlet-class>com.mercari.solution.server.PipelineApiServer</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet>
        <servlet-name>MPipelineMcpServer</servlet-name>
        <servlet-class>com.mercari.solution.server.PipelineMcpStreamableServer</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>MPipelineApiServer</servlet-name>
        <url-pattern>/api/pipeline/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MPipelineApiServer</servlet-name>
        <url-pattern>/api/schema/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MPipelineApiServer</servlet-name>
        <url-pattern>/probe/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MPipelineMcpServer</servlet-name>
        <url-pattern>/mcp</url-pattern>
    </servlet-mapping>
</web-app>